{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1>Evènement</h1>

    {{ include('event/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('event_index') }}">Retour à la liste</a>

{% endblock %}
