{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Bienvenue sur le site de la Cellule OPérationnelle du Lab'O</h1>
</div>
    {% include './themeSelector.html.twig' %}
{% endblock %}
