{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<div class="homeTitle">
    <h1>Bienvenue sur le site de la Cellule Opérationnelle du Lab'O</h1>
</div>
{% endblock %}
