{% extends 'base.html.twig' %}

{% block title %}Éditer Participant{% endblock %}

{% block body %}
    <h1>Édition d'un participant</h1>

    {{ include('participant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('participant_index') }}">Retour</a>

    {{ include('participant/_delete_form.html.twig') }}
{% endblock %}
