{% extends 'base.html.twig' %}

{% block title %}Edit Subservice{% endblock %}

{% block body %}
    <h1>Edit Subservice</h1>

    {{ include('subservice/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('subservice_index') }}">back to list</a>

    {{ include('subservice/_delete_form.html.twig') }}
{% endblock %}
