{% extends 'base.html.twig' %}

{% block title %}Nouveau sous-service{% endblock %}

{% block body %}
    <h1>Créer un sous-service</h1>

    {{ include('subservice/_form.html.twig') }}

    <div class="centerer">

        <a href="{{ path('subservice_index') }}" class="button">Retour</a>

    </div>
{% endblock %}
