{% extends 'base.html.twig' %}

{% block title %}New Subservice{% endblock %}

{% block body %}
    <h1>Create new Subservice</h1>

    {{ include('subservice/_form.html.twig') }}

    <div class="centerer">

        <a href="{{ path('subservice_index') }}" class="button">back to list</a>

    </div>
{% endblock %}
