{{ form_start(form , {'action': path('upload'), 'method': 'POST'}) }}
    {#<div class="row mx-0">#}
            {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('Importer') }}</button>
    {#</div>#}
{{ form_end(form) }}
