{{ form_start(form) }}
    <div class="row mx-0">
            {{ form_widget(form) }}
            <button class="btn button"><i class="fas fa-file-download"></i></button>
    </div>
{{ form_end(form) }}
