<header class="header mb-5">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container"><a href="#" class="navbar-brand"> <img class= "logo" src="/assets/images/logo.png" alt="Oh Terroir" ></a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span class="navbar-toggler-icon"></span><i
                        class="fa fa-align-justify"></i></button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/" class="nav-link">Accueil</a></li>

                    <li class="nav-item"><a href="{{ path('participant_index') }}" class="nav-link">participant</a></li>

                    <li class="nav-item"><a href="{{ path('subservice_index') }}" class="nav-link">sous service</a></li>

                    <li class="nav-item"><a href="{{ path('service_index') }}" class="nav-link">service</a></li>

                    <li class="nav-item"><a href="{{ path('form_builder_index') }}" class="nav-link">form</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>