<section id="color-panel" class="close-color-panel">
    <a class="panel-button gray2"><i class="fa fa-cog fa-spin fa-2x"></i></a>
    <!-- Colors -->
    <div class="segment">
        <h4 class="gray2 normal no-padding">Color Scheme</h4>
        <a id="snow" title="snow" class="switcher noel-bg"><i class="far fa-snowflake"></i></a>
        <a title="eather" class="switcher eather-bg"><i class="far fa-bell"></i></a>
        <a title="summer" class="switcher summer-bg"><i class="far fa-sun"></i></a>
        <a title="default" class="switcher default-bg"><i class="fas fa-chalkboard-teacher"></i></a>
    </div>
</section>