<form method="post" action="{{ path('form_builder_delete', {'id': form_builder.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce formulaire ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ form_builder.id) }}">
    <button class="btn">Delete</button>
</form>
