{% extends 'base.html.twig' %}

{% block title %}Edit FormBuilder{% endblock %}

{% block body %}
    <h1>Edit FormBuilder</h1>

    {{ include('form_builder/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('form_builder_index') }}" class="button">Retour</a>

    {{ include('form_builder/_delete_form.html.twig') }}
{% endblock %}
