{% extends 'base.html.twig' %}

{% block title %}Edition FormBuilder{% endblock %}

{% block body %}
    <h1>Editer Formulaire</h1>

    {{ include('form_builder/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('form_builder_index') }}">Retour</a>

    {{ include('form_builder/_delete_form.html.twig') }}
{% endblock %}
